<nz-input-group class="datetime-picker-group" #originElement [nzSuffix]="inputIconTemplate" (click)="open()">
    <input nz-input #inputElement [placeholder]="placeholder" [disabled]="disabled" />
</nz-input-group>
<ng-template #inputIconTemplate>
    <ng-container *ngIf="!disabled">
        <ng-container *ngIf="value">
            <i nz-icon nzType="close-circle" class="input-suffix-iocn"></i>
        </ng-container>
        <ng-container *ngIf="!value">
            <i nz-icon nzType="calendar" class="input-suffix-iocn"></i>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #dateTimePickerTemplate>
    <nz-date-picker nzInline></nz-date-picker>
</ng-template>
