<form nz-form [nzLayout]="layout" [formGroup]="formGroup">
    <ng-container *ngFor="let f of fields; trackBy: trackByFields">
        <nz-form-item *ngIf="!f.hidden" [attr.dynamic-key]="f.key">
            <nz-form-label [nzNoColon]="!f.label" [nzRequired]="f.required" [ngStyle]="f.labelStyle ?? null">
                {{ f.label }}
            </nz-form-label>
            <nz-form-control
                [nzErrorTip]="defaultErrorTemplate"
                [nzValidateStatus]="f.formControl!"
                [ngStyle]="f.inputStyle ?? null"
            >
                <ng-container
                    *ngxComponentOutlet="f.component!; injector: f.injector!; inputs: { data }"
                ></ng-container>
            </nz-form-control>
        </nz-form-item>
        <ng-template #defaultErrorTemplate>
            <!-- 必填校验 -->
            <ng-container *ngIf="f.formControl?.hasError('required'); else uncertaintyTemplate">
                {{ f.label }}不能为空
            </ng-container>
            <!-- 自定义校验提示 -->
            <ng-template #uncertaintyTemplate>
                <ng-container *ngIf="f.formControl?.hasError('error')">
                    {{ f.formControl?.getError('message') || '未知错误' }}
                </ng-container>
            </ng-template>
        </ng-template>
    </ng-container>
</form>
