.dialog {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .dialog-header {
        height: 48px;
        width: 100%;
        border-bottom: 1px solid #e5e7eb;
        display: flex;
        justify-content: space-between;

        .dialog-title {
            flex: 1 1 0%;
            line-height: 48px;
            font-size: 16px;
            font-weight: 500;
            padding-left: 16px;
        }
        .nav-handle {
            width: 48px;
            line-height: 48px;
            text-align: center;
            border-left: 1px solid #e5e7eb;
            cursor: pointer;
            &:hover {
                color: rgb(37 99 235 / 1);
            }
        }
    }
    .dialog-content {
        flex: 1 1 0%;
        position: relative;
        overflow: hidden;
    }
}
