<div class="container">
    <h1>test app</h1>
    <button nz-button nzType="primary" (click)="open()">打开</button>

    <ng-container *auth="'delete'; then authTemplate"></ng-container>
    <ng-template #authTemplate let-authList>
        <button nz-button nzDanger>{{ authList.name }}</button>
    </ng-template>

    <ngx-dynamic-form #dynamicFormElement [fields]="fieldList" [formData]="data"></ngx-dynamic-form>
    <ng-template #definedTemplate let-control let-field="field">
        <input nz-input [formControl]="control" [placeholder]="field.placeholder" />
    </ng-template>
    <button nz-button nzType="primary" (click)="submit()">提交</button>
</div>

<ngx-dialog title="弹框" [(visible)]="visible">
    <div *ngxDialogContent>弹框内容</div>
</ngx-dialog>
