<div class="container">
    <h1>测试</h1>
    <button (click)="disabled = !disabled">只读/编辑</button>
    <div>
        <ngx-dynamic-form
            #formEditor
            [fields]="fields"
            [data]="data"
            layout="vertical"
            [disabled]="disabled"
        ></ngx-dynamic-form>
    </div>

    <button nz-button nzType="primary" (click)="submit()">Submit</button>
    <hr />
    <button nz-button (click)="onLoading()">Loading</button>
    <button nz-button (click)="onDialog()">Dialog</button>

    <hr />
    <button nz-button [routerLink]="['/']">主页</button>
    <button nz-button [routerLink]="['page1']">页面1</button>
    <button nz-button [routerLink]="['page2']">页面2</button>
    <router-outlet></router-outlet>
</div>

<ngx-dialog [title]="title" [(visible)]="dialogVisible" [fullButton]="false">
    <ng-container *ngxDialogContent>
        <app-view-ref></app-view-ref>
    </ng-container>
</ngx-dialog>
